#statusSuccess {
    color: #00CC33;
}
#statusFail {
    color: #FF0000;
}
#statusRunning {
    color: #5bc0de;
}
#statusNotStarted {
    color: #f0ad4e;
}
#resultTypeTabs li {
    padding-right: 1em;
}