#hiveQuery
	{
		font-family:monospace;
	}

.alert {
   width:40%;  
   display: inline-block;
   margin: 0 auto;  
}

form{
	padding-top: 0.5em;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.jobStatusBtn {
	float: right;
}

#submittedHiveLabel {
	float: top;
}